.promo {
  padding-top: 461px;
  padding-bottom: 61px;
  position: relative;
  background: url("../img/promo-bg.jpg") no-repeat;
  background-size: cover;
}

.promo__photographer {
  color: $gray;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.promo__heading {
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 18px;
}

.promo__paragraph {
  color: $gray;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  width: 48%;
}
